<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accordian</title>
    <link rel="stylesheet" href="CSS/Accordion.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="flexBox accordion-container">
      <div class="flexBox accordion-container-1">
        <div class="accordion-items accordion-item1">
          <div class="accordion-item">
            This is item1
            <button class="accordion-btn" type="submit">
              <i class="fas fa-angle-down icons1"></i>
            </button>
          </div>
          <div class="accordion-hidecontents">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
            deserunt vitae minima. Ducimus voluptas blanditiis veniam maiores at
            dolores pariatur est in ad quas, officia velit, a, ut suscipit
            reprehenderit.
            <div class="flexBox accordion-container-2">
              <div class="accordion-contents"></div>
              <div class="accordion-contents"></div>
              <div class="accordion-contents"></div>
            </div>
          </div>
        </div>
        <div class="accordion-items accordion-item2">
          <div class="accordion-item">
            This is item2
            <button class="accordion-btn" type="submit">
              <i class="fas fa-angle-down icons1"></i>
            </button>
          </div>
          <div class="accordion-hidecontents">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
            deserunt vitae minima. Ducimus voluptas blanditiis veniam maiores at
            dolores pariatur est in ad officia velit, a, ut suscipit
            reprehenderit.
          </div>
        </div>

        <div class="accordion-items accordion-item3">
          <div class="accordion-item">
            This is item3
            <button class="accordion-btn" type="submit">
              <i class="fas fa-angle-down icons1"></i>
            </button>
          </div>
          <div class="accordion-hidecontents">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
            deserunt vitae minima. Ducimus voluptas blanditiis veniam maiores at
            dolores pariatur est in ad quas, officia velit, a, ut suscipit
            reprehenderit.
          </div>
        </div>
      </div>
    </div>
    <script src="JAVASCRIPT/Accordion.js"></script>
  </body>
</html>
