<% const date = new Date(); %>
<div id="footer" class="footer-section">
  <i class="fab fa-facebook media-icons fb"></i>
  <i class="fab fa-instagram media-icons insta"></i>
  <i class="fab fa-twitter media-icons twitter"></i>
  <i class="fas fa-envelope media-icons envelop"></i>
  <p class="copyright">Copyright&copy; <%= date.getFullYear()</p>
</div>
