<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company-Details</title>
</head>
<body>
    <h1><em><strong>CapCoffee</strong></em> was started by a person who taught that by making coffee powder by taking 10 beans can become an entrepreneur.
        Wow, its a good joke.But jokes apart.We are proffesionals.Seriously, I did not expect that, i will drink a coffee from the coffee bean i brought from our land.
        It was a awesome experience for me ,  because it was first time i tried to do something but happened something.
        I hear some some riddles that doing nothing will lead to something. YES! that was right.
        I experienced that, and that was too good.</h1>
</body>
</html>