<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CafeCoffee</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS\FinalCoffeeProject.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body class="container-fluid">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- Main CafeCoffe section -->
        <section id="cafecoffee" >
                <div class="transitions">
                        <div class="slide text-color"><i class="fas fa-arrow-alt-circle-down down arrow-icon"></i>Touch</div>
                        <div class="coffee text-color"><i class="fas fa-coffee mug arrow-icon"></i>CapCoffee</div>
                        
                        <form action="/logout" method="get">
                                <button class="btn" name="logout" value="/logout" type="submit">Log-Out</button>
                        </form>

                        <div class="basic">
                                <div class="Coffee-image"></div>
                                <div class="weatherDetails">
                                        <% if(Temperature ==""){ %>
                                                <div class="nodescription">"Sign up for getting weather forecast"</div>
                                        <% }else{ %>
                                                <div><%= Temperature %> °c in <%= Place%></div>
                                                <div class="description"><%= Description %></div>
                                        <% } %>
                                </div>
                        </div>
                        <div class="cafecoffee-intro text-color"><em><strong>CapCoffee</strong></em>  was started by a person who taught that by taking 10 beans of coffee , he can make coffee powder and become an "Entrepreneur"(Caution:Don't take it seriously).
                                Wow, its was a good joke.But jokes apart.We are proffesionals...
                        <form action="/more" method="get">
                                <a href="/more">Read-more</a></div>
                        </form>
                </div>
                <br>
                        <div class="Horizontal-menus">
                                <div class="myTitle">Caffete</div>
                                <div class="hamburger">
                                        <div class="lines l1"></div>
                                        <div class="lines l2"></div>
                                        <div class="lines l3"></div>  
                                </div>
                                <span class="hamlists">
                                        <a class="company decorate text-color" href="#cafecoffee">Company</a>
                                        <a class="menus decorate text-color" href="#menus">Menus</a>
                                        <a class="branches decorate text-color" href="#branches">Branches</a>
                                        <a class="about decorate text-color" href="#footer">About</a> 
                                        <a class="company decorate text-color" href="#img8">Trendings</a>
                                        <a class="menus decorate text-color" href="#img2">Offers</a>
                                        <a class="branches decorate text-color" href="#">Trips</a>
                                        <a class="about decorate text-color" href="#">Photos</a>  
                                </span>
                        </div>
                        <div class="Infrastructures">
                                <span class="Interhead text-color">International Headquarters</span>
                                <div class="domains">
                                        <div class="domain">
                                                <span class="brief head-color text-color">Gladoff</span>
                                                <div class="brief img image1"></div>
                                                <div class="brief briefing">Gladoff, famous for the roasted coffees.</div>
                                        </div>
                                        <div class="domain">
                                                <span class="brief head-color text-color">Coffete</span>
                                                <div class="brief img image2"></div>
                                                <div class="brief briefing">Coffete, Love icecream coffees!!. Perfect place.</div>
                                        </div>
                                        <div class="domain">
                                                <span class="brief head-color text-color">Javane</span>
                                                <div class="brief img image3"></div>
                                                <div class="brief briefing">Javane, Lava coffees.</div>
                                        </div>
                                        <div class="domain">
                                                <span class="brief head-color text-color">Capprico</span>
                                                <div class="brief img image4"></div>
                                                <div class="brief briefing">Capprico, famous for the roasted coffees.</div>
                                        </div>
                                        <div class="domain">
                                                <span class="brief head-color text-color">Ficole</span>
                                                <div class="brief img image5"></div>
                                                <div class="brief briefing">Ficole, famous for the roasted coffees.</div>
                                        </div>
                                        <div class="domain">
                                                <span class="brief head-color text-color">Vendior</span>
                                                <div class="brief img image6"></div>
                                                <div class="brief briefing">Vendor, famous for the roasted coffees. </div>
                                        </div>
        
                                </div>
                        </div>
        </section>
        <!-- Cofee menus section -->
        <section id="menus">

        <div class="coffeeItems">
                <span class="dropmenu" >FRAPPUCCINO
                        <div id="img1" class="image"></div>
                        <form action="/flavors" method="post">
                                <button class="order1" name ="flavourInfo" value="FRAPPUCCINO" type="submit">MORE</button>
                        </form>
                        <p class="cost">$20</p>
                        <form action="/cart" method="post">
                                <button type="submit" name="itemordered" value="FRAPPUCCINO" class="order">Purchase</button> 
                        </form>
                </span>
                
                <span id="drop1" class="dropmenu" >C-MACHIATO
                        <div id="img2" class="image"><div class="vertical-line">10% Off</div></div>
                        <form action="/flavors" method="post">
                                <button class="order1" name ="flavourInfo" value="CARAMEL MACCHIATO" type="submit">MORE</button>
                        </form>
                        <p class="cost">$32.5</p>
                        <form action="/cart" method="post">
                                <button type="submit" name="itemordered" value="CARAMEL MACCHIATO" class="order">Purchase</button> 
                        </form>    
                </span>


                <span class="dropmenu" >CAFE MOCHA
                        <div id="img3" class="image"><div class="vertical-line">$2 Off</div></div>
                        <form action="/flavors" method="post">
                                <button class="order1" name ="flavourInfo" value="CAFE MOCHA" type="submit">MORE</button>
                        </form>
                        <p class="cost">$27</p>
                        <form action="/cart" method="post">
                                <button type="submit" name="itemordered" value="CAFE MOCHA" class="order">Purchase</button>  
                        </form>
                </span>
                
                <span id="drop2" class="dropmenu" >AMERICANO
                        <div id="img4" class="image"></div>
                        <form action="/flavors" method="post">
                                <button class="order1" name ="flavourInfo" value="AMERICANO" type="submit">MORE</button>
                        </form>
                        <p class="cost">$23.2</p>
                        <form action="/cart" method="post">
                                <button type="submit" name="itemordered" value="AMERICANO" class="order">Purchase</button> 
                        </form>
                </span>


                <span class="dropmenu" >TURKISH COFFEE
                        <div id="img5" class="image"></div>
                       <form action="/flavors" method="post">
                                <button class="order1" name ="flavourInfo" value="TURKISH COFFEE" type="submit">MORE</button>
                        </form>
                        <p class="cost">$24</p>
                        <form action="/cart" method="post">
                                <button type="submit" name="itemordered" value="TURKISH COFFEE" class="order">Purchase</button> 
                        </form>
                </span>
                
                
                <span id="drop3" class="dropmenu" >CAFE CUBANO
                        <div  id="img6" class="image"></div>
                        <form action="/flavors" method="post">
                                <button class="order1" name ="flavourInfo" value="CAFE CUBANO" type="submit">MORE</button>
                        </form>
                        <p class="cost">$29</p>
                        <form action="/cart" method="post">
                                <button type="submit" name="itemordered" data-value="$29" value="CAFE CUBANO" class="order">Purchase</button> 
                        </form>
                </span>
                
                
                <span class="dropmenu" >CAFE LATTE
                        <div id="img7" class="image"></div>
                        <form action="/flavors" method="post">
                                <button class="order1" name ="flavourInfo" value="CAFE LATTE" type="submit">MORE</button>
                        </form>
                        <p class="cost">$35</p>
                        <form action="/cart" method="post">
                                <button type="submit" name="itemordered" value="CAFE LATTE" class="order">Purchase</button> 
                        </form>                
                </span>
                
                
                <span id="drop4" class="dropmenu" >IRISH COFFEE
                        <div id="img8" class="image trending"><div class="vertical-line">Trending</div></div>
                        <form action="/flavors" method="post">
                                <button class="order1" name ="flavourInfo" value="IRISH COFFEE" type="submit">MORE</button>
                        </form>
                        <p class="cost">$40</p>
                        <form action="/cart" method="post">
                                <button type="submit" name="itemordered" value="IRISH COFFEE" class="order">Purchase</button> 
                        </form>
                </span>
                
                
                <span class="dropmenu" >ESPRESSO
                        <div id="img9" class="image"><div class="vertical-line">7.5% Off</div></div>
                        <form action="/flavors" method="post">
                                <button class="order1" name ="flavourInfo" value="ESPRESSO" type="submit">MORE</button>
                        </form>
                        <p class="cost">$19</p>
                        <form action="/cart" method="post">
                                <button type="submit" name="itemordered" value="ESPRESSO" class="order">Purchase</button> 
                        </form>
                </span>
                
                
                <span id="drop5" class="dropmenu" >CORTADO
                        <div id="img10" class="image"></div>
                       <form action="/flavors" method="post">
                                <button class="order1" name ="flavourInfo" value="CORTADO" type="submit">MORE</button>
                        </form>
                        <p class="cost">$32</p>
                        <form action="/cart" method="post">
                                <button type="submit" name="itemordered" value="CORTADO" class="order">Purchase</button> 
                        </form>
                </span>
                
                
                <span class="dropmenu" >AFFOGATO
                        <div id="img11" class="image"><div class="vertical-line">5$ Off</div></div>
                       <form action="/flavors" method="post">
                                <button class="order1" name ="flavourInfo" value="AFFOGATO" type="submit">MORE</button>
                        </form>
                        <p class="cost">$34</p>
                        <form action="/cart" method="post">
                                <button type="submit" name="itemordered" value="AFFOGATO" class="order">Purchase</button> 
                        </form>
                </span>
                
                
                <span id="drop6" class="dropmenu" >CAPPUCCINO
                        <div id="img12" class="image"></div>
                        <form action="/flavors" method="post">
                                <button class="order1" name ="flavourInfo" value="CAPPUCCINO" type="submit">MORE</button>
                        </form>
                        <p class="cost">$41</p>
                        <form action="/cart" method="post">
                                <button type="submit" name="itemordered" value="CAPPUCCINO" class="order">Purchase</button> 
                        </form>
                </span>
                
                
                <span class="dropmenu" >PLAIN COFFEE
                        <div id="img13" class="image"></div>
                        <form action="/flavors" method="post">
                                <button class="order1" name ="flavourInfo" value="PLAIN COFFEE" type="submit">MORE</button>
                        </form>
                        <p class="cost">$15</p>
                        <form action="/cart" method="post">
                        
                        </form>
                                <button type="submit" name="itemordered" value="PLAIN COFFEE" class="order">Purchase</button> 
                        </form>
                </span>
                
                
                <span id="drop7" class="dropmenu" >ICED COFFEE
                        <div id="img14" class="image"><div class="vertical-line">Trending</div></div>
                        <form action="/flavors" method="post">
                                <button class="order1" name ="flavourInfo" value="ICED COFFEE" type="submit">MORE</button>
                        </form>
                        <p class="cost">$37.25</p>
                        <form action="/cart" method="post">
                                <button type="submit" name="itemordered" value="ICED COFFEE" class="order">Purchase</button> 
                        </form>
                </span>
                
                
                <span class="dropmenu" >CAFE AU LAIT
                        <div id="img15" class="image"></div>
                        <form action="/flavors" method="post">
                                <button class="order1" name ="flavourInfo" value="CAFE AU LAIT" type="submit">MORE</button>
                        </form>
                        <p class="cost">$40.5</p>
                        <form action="/cart" method="post">
                                <button type="submit" name="itemordered" value="CAFE AU LAIT" class="order">Purchase</button> 
                        </form> 
                </span>
                
        </div>
        </section>
        <!-- Company branches section -->
        <section id="branches" class="Rotational-animation">
                <div class="Rotational-box1">London<div class="Rotational-image image1"></div><p class="head-branch">Most famous branch known for its own way of preparing the coffee. Western style of making the most strong coffee with delicious beans on the top.</p></div>
                <div class="Rotational-box2">Amsterdam<div class="Rotational-image image2"></div><p class="head-branch">Most attractive headquaters is located at Amsterdam,which is owned by one of the relatives of the company. <em>Roasted cappuccino</em>.</p></div>
                <div class="Rotational-box3">Mangolia<div class="Rotational-image image3"></div><p class="head-branch">Main headquarters of <em>Cappuccino</em> is Mangolia,Which was started at 1999 by *****. They have many branches all over the world with variety of coffee blenders.</p></div> 
        </section>
        <section id="footer" class="footer-section text-color">
                <i class="fab fa-facebook media-icons fb"></i>
                <i class="fab fa-instagram media-icons insta"></i>
                <i class="fab fa-twitter media-icons twitter"></i>
                <i class="fas fa-envelope media-icons envelop"></i>
                <p class="copyright">Copyright&copy;CafeCoffee 2021</p>
        </section>
        <script src="JAVASCRIPT/finalCoffeeproject.js" type="text/javascript"></script>
</body>
</html>