<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="CSS/home.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    
</head>
<body>
    <form action="/finalCoffeeproject" method="post"> 
<div class="loader-page">
    <div class="flex homepage">

        <div class="container-2">
                <div class="title"><i class="fas fa-coffee mug arrow-icon"></i>CAFE-COFFEE</div>
                        <input class="loginDetails" type="text" id="user" name="User" placeholder="Username or Email" required autofocus autocomplete="off">
                        <input class="loginDetails" type="password" id="pass" name="userPassword" placeholder="Password" required autocomplete="off">
                    
                <div class="buttons">
                        <button class="btn"  id="bq">Log-in</button>
                        </form>
                        <form action="/forgot" method="get">
                            <button class="btn">Forgot?</button>
                        </form>
                </div>
                <div  class="remember">
                    <input class="checkBox" type="checkbox"> Remember me
                </div>
                <%- include("footer") %>
        </div>
    </div>
    <div class="flex loader">
        <div class="loading-circle"></div>
        Loading...
    </div>
</div>
    <script src="JAVASCRIPT/Login.js"></script>
</body>
</html>
