<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company-Details</title>
    <link rel="stylesheet" href="CSS/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    
        <div class="homepage">
            <div class="container-2">
                <div class="title"><i class="fas fa-coffee mug arrow-icon"></i>CAFE-COFFEE</div>
                <h1 class="cafeIntoduction"><em><strong>CapCoffee</strong></em> was started by a person who taught that by taking 10 beans of coffee , he can make coffee powder and become an "Entrepreneur"(Caution:Don't take it seriously).
                    Wow, its was a good joke.But jokes apart.We are proffesionals.Seriously, I did not expect anything from this.
                    It was a awesome experience for me ,  because it was first time i tried to do something but happened something.
                    Actually , I was inspired from some riddles that "<strong>Doing nothing will lead to something</strong>". Yeah!!! that was right.
                    I experienced that, and by the way ,it was a good riddle.</h1>
                    <!-- <h3>Thank you<h3> -->
                    <%- include("footer") %>
                </div>
        </div>

</body>
</html>