<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company-Details</title>
    <link rel="stylesheet" href="CSS/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    
        <div class="homepage">
            <div class="container-2">
                <div class="title"><i class="fas fa-coffee mug arrow-icon"></i>CAFE-COFFEE</div>
                <h1 class="cafeIntoduction"><em><strong>CapCoffee</strong></em> 
                    was started as a small branch at the beginning and was well developed for buissness 
                    . In 2021 , We had good response from our customers. We dynamically increased our product quality and quantity 
                in higher rate and tried to reach as per buissness requirement. Our company produces a fine coffee beans in the market and 
            has very good reviews.</h1>
                    <!-- <h3>Thank you<h3> -->
                    <%- include("footer") %>
                </div>
        </div>

</body>
</html>