*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

h1{

    text-align: center;
    padding:10px 40px;
    background-color: white;
}

h1,.btn,.cost{
    color:gray;
}

.container,.item,.sub-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    min-width:100vw;
    min-height:100vh;
    align-items: unset;
    justify-content: unset;
    flex-direction: column;
    background-color: mediumspringgreen;
    position: relative;
}
.sub-container{
    padding:3% 5%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

.item{
    margin:1%;
    flex-direction: column;
    text-align: center;
    font-size: 0.8rem;
    font-weight:900;
    width:20%;
    color: gray;
    height:60vh;
    background-color:white ;
    border:2px solid gray;
    border-radius: 10px;
    position: relative;
}
.more_ordered{
    position: absolute;
    top:5px;
    right: 5px;
}

.btn,.cost{
    margin-top: 15px;
    background-color: white;
    font-size: 0.8rem;
    box-shadow:0px 5px 5px grey;
}

.btn{
        font-weight: 700;
        padding:10px 40px;
        margin:10px auto;
        border: none;
        border-radius: 10px;
        outline: none;
}

.removeItem{
    color:gray;
    outline: none;
    border: none;
    padding: 7px 15px;
    transition: all 0.1s linear;
}

.movebutton{
    padding: 3px 7px;
    color: white;
    background-color: red;
}

.message{
    font-size: 1rem;
    background-color: mediumspringgreen;
    transition: all 1s linear;
}
.Deleted{
    font-size: 1rem;
    width:200px;
    height: 40px;
    background-color: gray;
    color: white;
    text-align: center;
    position: absolute;
    top:20px;
    transition: all 3s linear;
}

.cost{
    padding:7px 0px;
    width:50%;
}

.coffeeImages{
    width:180px;
    height:120px;
}

@media (min-width:768px) and (max-width:1024px){
    .sub-container{
        padding:3% 1%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .item{
        font-size: 1.1rem;
        width:30%;
        height:40vh;
    }
    .coffeeImages{
        width:150px;
        height:100px;
    }

}

@media (min-width:320px) and (max-width:768px){
    h1{
        min-width:100vw;
        text-align: center;
        padding:10px 40px;
        font-size: 1rem;
        background-color: white;
        position: absolute;
        top:0;
        left: 0;
    }
    .container{
        padding:3% 2%;
        flex-wrap: nowrap;
        justify-content: center;
        flex-direction: column;
    } 
    .sub-container{
        padding:3% 1%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .item{
        font-size: 0.8rem;
        width:45%;
        height:35vh;
    }

    .btn,.cost{
        font-size: 0.5rem;
    }
.btn{
    padding:7px 30px;
}
.cost{
    padding:5px 0px;
}

.coffeeImages{
    width:90px;
    height:70px;
}
}