/* ------------------------- CafeCoffee -------------------------------- */
/* -----------Universal selector---------- */
*{ 
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
    user-select: none;
}

body{
    background-color: mediumspringgreen;
}

:root{
    --primaryColor:white;
    --secondaryColor:mediumspringgreen;
    --TernaryColor:gray;
}

.text-color{
color:var(--TernaryColor);
text-align: center;
}

.coffee,.slide,.arrow-icon,.transitions,.footer,.box,.Interhead,.head-color{
    background-color: var(--primaryColor);
    font-size: 2.5rem;
}

.head-color,.receipe{
    font-size: 0.85rem;
}

.coffee{
    display:inline;
    padding:30px;
    position:absolute;
    bottom:700px;
    left: 500px;
    z-index:-3;
}

.slide{
    padding:30px;
    font-size: 1.5rem;
    position:absolute;
    bottom:700px;
    left:0px;
    animation: slideTo 3s infinite forwards;
    transition:transform 1s linear;
}

.btn{
    padding:10px 50px;
    position:absolute;
    bottom:700px;
    right:50px;
    font-size: 1rem;
    z-index: -3;
    border: none;
    outline:none;
    background-color: var(--primaryColor);
}

.slide:hover{
    transform:scale(1.1);
}
.arrow-icon{
    margin:0 5px;
    font-size: 2rem;
}
.coffee .arrow-icon{
    color:var(--secondaryColor);
    transition: transform 1s linear;
}
.mug.arrow-icon:hover{
transform:rotate(20deg);
cursor: pointer;
}
@keyframes slideTo{
0%{
    transform:translate(0px);
}
1%{
    transform:translateY(100px);
}
}

.transitions{
    width:100%;
    height:600px;
    margin: 200px auto 0;
    position:relative;
}
.transitions::before,
.transitions::after{
        content:"";
        width:100%;
        height:100%;
        position: absolute;
        transition: all 2s linear;
}
.transitions::before{
    background-color: var(--primaryColor);
    top:-100px;
    bottom:-100px;
    z-index:-2;
}
.transitions::after{
    background-color: var(--secondaryColor);
    top:-200px;
    bottom:-200px;
    z-index:-3;
}

.transitions:hover::before,
.transitions:hover::after{
    top:0;
    bottom:0;
}
.Coffee-image{
    background: url('./Images/flavor10.jpg') center/cover no-repeat;
    width:200px;
    height:200px;
    position:relative;
    top:20px;
    left:-10%;
    border-radius: 50%;
    box-shadow: 0px 10px 5px var(--TernaryColor);
    transition:transform 2s linear;
}
.Coffee-image:hover
{
transform: scale(1.2);
}

.basic{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.weatherDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:300px;
    height:150px;
    color:gray;
    background-color: var(--primaryColor);
    box-shadow: 0px 0px 10px var(--TernaryColor),
                0px 0px 20px var(--TernaryColor);
    position: relative;
    font-size: 1.3rem;
    border-radius: 20px;
}

.description{
    font-size: 1rem;
}

.nodescription{
text-align: center;
font-size: 0.7;
}

/*--------------------------- Serives section -------------------------------- */
.services{
width:100%;
height: 25vh;
background-color: var(--primaryColor);
}

.sub-services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.serviceLists{
    visibility: hidden;
    position: absolute;
}

.service-icon{
    font-size: 1.5rem;
    padding: 10px;
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
    border-radius: 50%;
    position: relative;
    transition:all 0.5s linear;
}

.service-icon:hover{
    transform: scale(1.2);
}

.vouchers{
    display: grid;
    place-items: center;
    visibility: visible;
    width:400px;
    height: 200px;
    border-bottom: 10px solid var(--secondaryColor);
    border-top: 10px solid var(--secondaryColor);
    position: absolute;
    z-index: 100;
    left:-150px;
    background-color:white;
    box-shadow: 0px 0px 10px var(--TernaryColor);
    transition: all 0.5s linear;
}

.vouchers:hover{
    cursor: pointer;
}


/* --------------------------------------------------------------------------- */
.Horizontal-menus{
    width:100%;
    height:100px;
    background-color: var(--primaryColor);
    box-shadow: 0px 5px 3px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin:10px 0px;
}

.myTitle{
display:none;    
}

.hamlists{
    position: absolute;
    right:100px;
}

.hamlists a{
color:var(--TernaryColor);
text-decoration: none;
padding:0 15px;
}

a:hover{
    background-color: var(--TernaryColor);
    color:var(--primaryColor);
    border-radius:10px;
    box-shadow: 0px 0p 10px var(--TernaryColor) ,
                0px 0px 15px var(--TernaryColor);
    transition: 0.5s linear;
}

.decorate{
color:var(--TernaryColor);
background-color:var(--primaryColor);
box-shadow: 0px 5px 3px grey;
border-radius: 5px;
margin:12px;
text-align: center;
width:250px;
height:50px;
padding: 15px;
text-decoration: none;
font-size:1rem;
transition: all 0.5s linear;
}



.decorate:hover{
    background-color:var(--TernaryColor);
    color:var(--primaryColor);
    text-decoration: none;
}

/* ----------------- */
.cafecoffee-intro{
    position: relative;
    top:70px;
    font-size: 1.2rem;
    line-height: 2;
    background-color:var(--primaryColor);
    width:100%;
    height:300px;
    box-shadow:0px 10px 5px grey;
}
/* --------------Infrastructure------------------------ */
.Infrastructures{
    width:inherit;
    min-height: 20vh;
    position:relative;
}


.Interhead{
    display: block;
    margin-top: 7px;
    padding: 2px 20px;
}

.swipe{
    padding: 3px 10px;
    color:var(--primaryColor);
    font-size: 1.5rem;
    border:none;
    outline: none;
    border-radius: 5px;
    background-color: var(--secondaryColor);
}

.domains{
    visibility: hidden;
    position: absolute;
    /* display: none; */
}

.companyDomains{
display: flex;
visibility: visible;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
position: relative;
transition: all 20s linear;
}

.domain{
    margin-top: 10px;
    display: grid;
    place-items: center;
    text-align: center;
    overflow: hidden;
    background-color: var(--primaryColor);
    width:200px;
    height:300px;
    box-shadow:0px 10px 10px grey;
}

.img,.briefing{
    transform: translateY(400px);
    font-size: 0.8rem;
}

.head-color{
    transform: translateY(150px);
    padding:5px 50px;
    background-color: var(--secondaryColor);
}

.img{
width:150px;
height:100px;
border-radius: 20px;
margin:0 auto;
}

.domain:hover{
    cursor: pointer;
}

.domain:hover .brief{
    transition:transform 1s linear;
    transform: translateY(0px);
}

.image1{
    background: url('/CSS/Images/building1.jpg') center/cover no-repeat;
}
.image2{
    background: url('/CSS/Images/building2.jpg') center/cover no-repeat;
}
.image3{
    background: url('/CSS/Images/building3.jpeg') center/cover no-repeat;
}
.image4{
    background: url('/CSS/Images/building4.jpg') center/cover no-repeat;
}
.image5{
    background: url('/CSS/Images/building5.jpg') center/cover no-repeat;
}
.image6{
    background: url('/CSS/Images/building6.jpg') center/cover no-repeat;
}
/* ---------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------menus----------------------------------- */
.coffeeItems{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-evenly;
text-align: center;
}

.dropmenu,.image{
    box-shadow: 0px 10px 5px grey;
}

.dropmenu{
    display:inline-block;
    margin:50px 20px;
    width:250px;
    height:40vh;
    color:grey;
    letter-spacing:2px;
    font-family:'Poppins',sans-serif;
    padding:0px 20px 0px;
    background-color:var(--primaryColor);
    border-radius:20px;
    position: relative;
}

.dropmenu2{
    width:250px;
    height:65vh; 
}

.moreItem{
    display: none;
}

.moreItems{
    display: block;
}

.dropmenu:hover{
    cursor: pointer;
    box-shadow: 3px 5px 3px grey;
}

.arrow-down{
    position: absolute;
    bottom: -20px;
    font-size: 1rem;
    left:calc(50% - 20px);
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border: 7px solid gray;
    border-radius: 50%;
    color: mediumspringgreen;
}

.image{
    overflow: hidden;
    width:200px;
    height:150px;
    margin:7% auto 7%;
}

.image:hover{
    transform: scale(1.05);
    transition:transform 1s linear;
}

#img1{
    background: url(./Images/flavor1.jpg) center/cover no-repeat;
    }
#img2{
background: url(./Images/flavor2.jpg) center/cover no-repeat;
}
#img3{
    background: url(./Images/flavor3.jpg) center/cover no-repeat;
    }
#img4{
background: url(./Images/flavor4.jpg) center/cover no-repeat;
}
#img5{
    background: url(./Images/flavor5.jpg) center/cover no-repeat;
    }
#img6{
background: url(./Images/flavor6.jpg) center/cover no-repeat;
}
#img7{
    background: url(./Images/flavor7.jpg) center/cover no-repeat;
    }
#img8{
background: url(./Images/flavor8.jpg) center/cover no-repeat;
}
#img9{
    background: url(./Images/flavor9.jpg) center/cover no-repeat;
    }
#img10{
background: url(./Images/flavor10.jpg) center/cover no-repeat;
}
#img11{
    background: url(./Images/flavor11.jpg) center/cover no-repeat;
    }
#img12{
background: url(./Images/flavor12.jpg) center/cover no-repeat;
}
#img13{
    background: url(./Images/flavor13.jpg) center/cover no-repeat;
    }
#img14{
background: url(./Images/flavor14.jpg) center/cover no-repeat;
}
#img15{
    background: url(./Images/flavor15.jpg) center/cover no-repeat;
    }

em{
        color:green;
}

.cost{
    background-color: var(--secondaryColor);
    color:var(--primaryColor);
    width:60%;
    padding:5px;
    margin:0 auto;
    font-size:1.1rem;
    border-radius: 5px;
    box-shadow:0px 10px 5px grey;
}

.order,.order1{
    background-color: var(--primaryColor);
    width:90%;
    padding:10px 0;
    font-size: 1rem;
    margin:0 auto;
    border: none;
    outline:none;
    box-shadow:0px 10px 5px grey;
}

.order1{
    width:90%;
    padding:5px 0;
    font-size: 0.8rem;
    margin:10px auto;
}

.order:hover{
    transform:scale(1.1);
    transition:transform 0.5s linear;
    outline:none;
}

/*------------------------- Branches */
    /* Rotational Animation */
.Rotational-animation{
    background-color: var(--primaryColor);
    width:100%;
    padding:2%;
    height:700px;
    position:relative;
}

.Rotational-box1,.Rotational-box2,.Rotational-box3{
    display: inline-block;
    background-color:white;
    font-size: 1.25rem;
    letter-spacing: 2px;
    color:var(--secondaryColor);
    width:300px;
    height:400px;
    margin:7% auto;
    box-shadow: 0px 10px 5px grey;
    text-align: center;
    position:relative;
    left:475px;
}
.Rotational-box1{
    position: absolute;
    left:400px;
    animation:r-box1 20s infinite 3s linear;
}
.Rotational-box2{
    position: absolute;
    left:600px;
    animation:r-box2 20s infinite 3s linear;
}
.Rotational-box3{
    width:300px;
    height:500px;
    animation:r-box3 20s infinite 3s linear;
    transition:transform 1s linear;
}
.Rotational-box3:hover{
    transform: scale(1.1);
}
.Rotational-image{
    width:150px;
    height:150px;
    margin:3% auto;
    border-radius: 50%;
    box-shadow: 0px 10px 5px grey;
}
.image1{
    background: url('/CSS/Images/building6.jpg') center/cover;
}
.image2{
    background: url('/CSS/Images/building4.jpg') center/cover;
}
.image3{
    background: url('/CSS/Images/building1.jpg') center/cover;
}
.head-branch{
    font-size: 0.85rem;
    text-align: center;
    color:var(--TernaryColor);
}
/* London box */
@keyframes r-box1{
    0%{
    }
    25%{
        transform: translateX(400px);
        width:300px;
        height:400px;
    }
    50%{
        width:300px;
        height:400px;
        transform: translateX(300px);
        z-index:0;
    }
    75%{
        transform: translateX(100px);
        z-index: 2;
        width:300px;
        height:400px;
    }
    100%{
        transform: translateX(200px);
        z-index: 2;
        width:300px;
        height:500px;
    }
}
/* Amsterdam Box */
@keyframes r-box2{
    0%{
    }
    25%{
        transform: translateX(-100px);
        width:300px;
        height:400px;;
    }
    50%{
        transform: translate(0px);
        width:300px;
        height:500px;
        z-index:1; 
    }
    75%{
        transform: translateX(-400px);
        z-index: 1;
        width:300px;
        height:400px;
    }
    100%{
        transform: translateX(-100px);
        z-index: 1;
        width:300px;
        height:400px;
    }
}
/* Mangolia Box */
@keyframes r-box3{
    0%{
    }
    25%{
        transform: translateX(-300px);
        width:300px;
        height:400px;
    }
    50%{
        transform: translateX(0px);
        width:300px;
        height:400px;
        z-index:0;  
    }
    75%{
        transform: translateX(300px);
        z-index: 0;
        width:300px;
        height:400px;
    }
    100%{
        transform: translateX(200px);
        z-index: 1;
        width:300px;
        height:400px;
    }
}
/* Footer-section */
.footer-section{
    color:var(--primaryColor);
    padding:10px;
}
.media-icons{
    margin:1%;
}

.fb{
    color:blue;
}
.insta{
    color:palevioletred;
}
.twitter{
    color: lightseagreen;
}
.envelop{
    color:green;
}
/* Discount line */
.vertical-line{
    font-size: 0.5rem;
    font-weight: 600;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 10px white,
                0px 0px 20px white;
    color:var(--secondaryColor);
    padding:6px 30px;
    position: relative;
    top:10px;
    left:-75px;
    transform: rotateZ(-45deg);
}
.trending .vertical-line{
color:var(--secondaryColor);
letter-spacing: 3px;
}


/* --------------------------Mobile - Viewport-------------------------------------------- */
@media (min-width:320px) and (max-width:768px)
{
    .coffee{
        padding:15px;
        font-size: 1.2rem;
        bottom:700px;
        left: 130px;
    }
    
    .slide{
        padding:15px;
        font-size: 0.7rem;
        bottom:700px;
        left:0px;
    }

    .btn{
        padding:5px 20px;
        bottom:650px;
        right:10px;
        font-size: 0.8rem;
        z-index: -3;
    }
        .cafecoffee-intro{
            width:100%;
            height:200px;
            top:20px;
            left:0px;
            font-size: 0.7rem;
        }
        
        .arrow-icon{
            margin:0 5px;
            font-size: 1rem;
        }
        .coffee .arrow-icon{
            font-size: 1rem;
            color:var(--secondaryColor);
            transition: transform 1s linear;
        }
        .mug.arrow-icon:hover{
        transform:rotate(20deg);
        cursor: pointer;
        }
        .Coffee-image{
            width:120px;
            height:120px;
            top:10px;
            left:0;
        }
    
        .Coffee-image:hover{
            transform: scale(1.1);
            }

            .weatherDetails{
                width:180px;
                height:90px;
                font-size: 1rem;
            }
            
            .description{
                font-size: 0.8rem;
            }
    
        .transitions{
            width:110%;
            height:600px;
            margin:200px auto 0;
            position:relative;
        }
        .transitions::before,
        .transitions::after{
                content:"";
                width:100%;
                height:100%;
        }
        .transitions::before{
            top:-100px;
            bottom:-100px;
        }
        .transitions::after{
            top:-200px;
            bottom:-200px;
        }
        
        .transitions:hover::before,
        .transitions:hover::after{
            top:0;
            bottom:0;
        }

        .Horizontal-menus{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            margin:5%;
        }
        
        .decorate{
        margin:10px 20px;
        width:150px;
        height:30px;
        font-size:0.6rem;
        }
    
        .box,.box1,.box2{
            display: none;
        }
    
        .coffeeItems{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: unset;
            align-items: unset;
            text-align: center;
            padding: 0px 50px;
            }

            .dropmenu{
                margin:15px 3px;
                width:120px;
                height:20vh;
                letter-spacing:1px;
                padding:5px 5px 0px;
                font-size: 0.5rem;
            } 

.dropmenu2{
    width:120px;
    height:25vh; 
}


        .image{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width:90px;
            height:70px;
            margin:3.5% auto;
            padding:10px 15px;
        }
        .cost,.order{
            padding:3px 0px;
            font-size:0.5rem;
        }
        .cost{
            width:70%;
            padding:2px 0px;
        }
        .order,.order1{
            width:70%;
            font-size: 0.4rem;
            margin:5px auto;
        }

        .order1{
            font-size: 0.4rem;
        }
    
        .vertical-line{
            font-size: 0.3rem;
            font-weight: 300;
            padding:3px 15px;
            top:-15px;
            left:-25px;
        }
    
        .trending .vertical-line{
        letter-spacing: 2px;
        }

        .Infrastructures{
            width:inherit;
        }

        .Interhead{
            font-size: 1rem;
            margin:10px auto;
            padding:5px 20px;
        }

        .swipe{
            padding: 3px 5px ;
            font-size: 1rem;
            position: relative;
            top:0px;
            right:0px;
        }

        .domains{
            justify-content: center;
            align-items: center;
            margin:10px auto;
            }

            /*--------------------------- Serives section -------------------------------- */
    .services{
        min-height: 50vh;
        flex-direction: column;
    }
    .sub-services{
        font-size: 1rem;
        margin-top: 5px;
    }
    
    .serviceLists{
        visibility: hidden;
    }
    
    .service-title{
        margin-top: 5px;
    }
    
    .vouchers{
        visibility: visible;
        width:200px;
        height: 300px;
        left:-50px;
    }
    
    .vouchers:hover{
        cursor: pointer;
    }
    /* -------------------------------------------------------- */
        .img,.briefing{
            transform: translateY(0px);
        }
        
        .head-color{
            transform: translateY(0px);
        }
        
        
        .domain:hover .brief{
            transition:none;
        }
        .domain{
            margin-top:30px;
        }
        

.Rotational-animation{
background: none;
padding:1% 0%;
}
    .Rotational-box1 , .Rotational-box2 , .Rotational-box3{
        width:200px;
        height:300px;
        font-size: 0.7rem;
        animation: none;
    }
    .Rotational-box1{
        left:10px;
    }
    .Rotational-box2{
        left:310px;
    }
    .Rotational-box3{
        width:200px;
        height:400px;
        left:150px;
    }
    .Rotational-image{
        width:100px;
        height:100px;
        margin:3% auto;
    }
    .head-branch{
        font-size: 0.5rem;
        word-wrap: break-word;
    }
    .footer-section{
        color:var(--primaryColor);
        font-size: 0.8rem;
        padding:7px;
    }
    .media-icons{
        margin:10px;
    }

    /*-------------------- hamburger ----------------------------*/
    .Horizontal-menus{
        display: flex;
        justify-content: flex-end;
        padding-right: 50px;
        margin:10px 0px;
    }


    .myTitle{
        display: block;
        color:gray;
        position: absolute;
        font-size: 1.5rem;
        left:10px;
    }

    .hamburger{
        width:50px;
        height:50px;
        background-color: gray;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius:5px;
        box-sizing: border-box;
    }
    
    .hamburger:hover{
        cursor: pointer;
    }
    
    .lines{
        margin-top: 5px;
        width:40px;
        height: 5px;
        background-color: whitesmoke;
        opacity: 1;
        transition: all 0.2s linear;
    }
    
    .line1,.line2,.line3{
    transition: 0.2s linear;
    }
    
    .line1{
        position: absolute;
        top:20px;
        transform: rotate(45deg);
    }
    .line2{
        /* display: none; */
        opacity: 0;
    }
    .line3{
        position: absolute;
        bottom:20px;
        transform: rotate(-45deg);
    }
    
    .hamlists,.menu{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    width:300px;
    height:100px;
    position: absolute;
    z-index: 2;
    top:80px;
    right: 0px;
    transition: all 0.2s linear;
    }
    
    .hamlists{ 
        animation: moveup 0.5s 1 linear forwards;
    }
    
    .hamlists a{
        opacity: 0.5;
        text-decoration: none;
        color:gray;
    }
    
    .menu{
        animation: movedown 0.5s 1 linear forwards;
    }
    
    .menu a{
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width:300px;
        height:100px;
        color:gray;
        border-bottom:3px solid white;
        transition: all 0.5s linear;
    }
    
    .menu a:hover{
        letter-spacing: 3px;
        width:300px;
        height:100px;
        color:white;
        background-color: black;
        text-decoration: none;
        transition: all 0.5s linear;
    }
    
    @keyframes movedown{
        from{
            width:300px;
            height:100px;
        }
        to{
            width:300px;
            height:400px;
        }
    }
    
    @keyframes moveup{
        from{
            opacity: 1;
            width:300px;
            height:400px;
        }
        to{
            opacity: 0;
            width:300px;
            height:0px; 
        }
    }
}



    