*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins',sans-serif;
    user-select: none;
}

body{
    position: relative;
}

.title,.btn{
    color:gray;
    background:linear-gradient(rgba(255 , 255 ,255, 0.7) , rgba(255 ,255 ,255 , 0.3));
    border:2px solid gray;
}

.flex,.flex1,.flex-column{
    display:flex;
    justify-content: center;
    align-items: center;
}

.flex1{
align-items: unset;
}

.flex-column{
    flex-direction: column;
}

.homepage,.blur{
    width:100vw;
    min-height:100vh; 
    position: absolute;
    justify-content: space-evenly;
    z-index: 1;
    background-color: gray;
    opacity: 1;
    overflow: hidden;
}

.blur{
    z-index: 2;
    background-color: black;
    opacity: 0.1;
}

/* -------------------- loading animation --------------- */
.loader{
    visibility: hidden;
}

.loading-circle{
    width:30px;
    height: 30px;
    border: 5px solid rgba(255, 255, 255, 1);
    background-color: whitesmoke;
    border-radius: 50%;
    animation: colorCircle 10s linear forwards;
    animation-delay: 1s;
    padding-bottom: 5px;
}

@keyframes colorCircle{
    0% { border: 5px solid rgba(255, 255, 255, 1); 
    }
    50% {border: 5px solid rgba(255, 255, 255, 0.4);
    background-color: mediumspringgreen; }
    100% {border: 5px solid rgba(255, 255, 255, 1);
    background-color: unset}
}

.loading{
    color: white;
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    min-height: 25vh;
    box-shadow: 0px 0px 10px gray;
    background-color: mediumspringgreen;
    border-bottom:5px solid whitesmoke;
    position: absolute;
    top: 0;
    z-index: 10;
    margin-top: 15%;
    transition: all 0.2s linear;
}

/* ------------------------------------------------------ */

.arrow-icon{
    transition: transform 1s linear;
}

.mug.arrow-icon:hover{
transform:rotate(20deg);
cursor: pointer;
}


.container-1,.container-2,.container,.more-container,.upper-container,.userPurchase{
    display:flex;
    align-items: center;
    position: relative;
}


.container-1,.container-2,.more-container{
    flex-direction: row;
    justify-content: space-evenly;
    width:40vw;
    height:80vh;
    background-color: white;
    /* clip-path: inset(10px 20px 30px 40px); */
    z-index: 1;
    overflow: hidden;
}

.container-1::after,.container-2::after{
    content: "";
    width:650px;
    height:650px;
    position:absolute;
    z-index: -1;
    bottom:-100%;
    border-radius: 50%;
    /* clip-path: circle(70% at 150px 670px); */
    background-color: gray;
    animation: moveworld 2s 1 linear;
}

.container-2::after{
    bottom:-105%;
}


/* -------------- Flavors page-------------- */
.flavor_page{  
    width:100vw;
    min-height:100vh; 
    position: relative;
    background-color: gray;
}

.similar_items{
flex-direction: column;
}
.more-container,.more-similar-container,.upper-container{
    justify-content: unset;
    flex-direction: column;
    padding: 10px;
    width: 30vw;
    transition: all 1s linear;
}
.more-container{
    height: 70vh;  
}

.upper-container::after{
    content: "";
    width: 30vw;
    height: 63vh;
    position: absolute;
    bottom:0;
    z-index:10;
    background-color: aquamarine;
    }

.close{
    transform: rotate(-45deg);
}


.more-similar-container{
    width: 20vw;
    height: 90vh;
    background-color: white;
    position: absolute;
    right:20px;
    text-align: center;
    overflow-y: scroll;
    padding: 10px;
}

.more-similar-container::-webkit-scrollbar{
    display: none;
}

.similar_title{
    width: 15vw;
    color: white;
    background-color: gray;
}

.hover,.hoverme{
    opacity: 0;
    position: absolute;
    left:50px;
    top:0px;
    width:50px;
    height: 5px;
    border: 2px olid gray;
    transition: all 0.3s linear;
}

.hoverme{
    opacity: 1;
}

.coffeeMainImages,.coffeeImages{
    margin-top:40px ;
    width:100px;
    height:100px;
    border-radius: 50%;
    border: 5px solid gray;
}

.coffeeMainImages{
    width:120px;
    height:120px; 
}

.userPurchase{
justify-content: center;
}

.userInput{
    padding: 5px 10px;
    border: 2px solid gray;
}

.userLabel{
    padding-right:10px;
    font-weight: 800;
    font-size: 0.7rem;
}

.receipe{
    font-size: 0.8rem;
}

em{
    color:green;
}

.more{
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    top:3px;
    left: 10px;
    width: 30px;
    height: 30px;
    color: gray;
    outline: none;
    border: 5px solid gray;
    background-color: white;
    border-radius: 50%;
    transition: all 0.5s linear;
}

/* ----------------------------------------- */
.refresher::after{
    content: "";
    position: absolute;
    width:100%;
    height: 100vh;
    background-color: white;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.round{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.circle{
    margin: 5px;
    width: 20px;
    height:20px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid gray;
    /* box-shadow: 0px 0px 10px gray; */
    z-index: 3; 
}

.c1 , .c2 ,.c3 ,.c4{
    transform: translateY(200px);
    animation: movecircle 5s 1s infinite linear;
}

.c1{
animation-delay: 1s;
}

.c2{
    animation-delay: 0.75s;
    }
    .c3{
        animation-delay: 0.5s;
        }
        .c4{
            animation-delay: 0.25s;
            }

@keyframes movecircle{
    0%{
        transform: translateY(200px);
    }
    50%{
        background-color: green;
        transform: translateY(200px);
    }
    75%{
        transform: scale(1);
    }
    100%{
        animation-delay: 5s;
    }
}
    

.footer-section{
    font-size: 0.8rem;
    position: absolute;
    bottom:50px;
    color:white;
    text-align: center;
    }

@keyframes moveworld{
    0%{
        transform: translateY(150px);
    }
    100%{
        transform: translateY(0px);
    }
}

.title,.main-title{
    font-size: 1.5rem;
    position: absolute;
    top:10px;
    padding: 10px 70px;
}

.main-title{
    color: white;
    position: relative;
    border: 5px solid white;
    margin-bottom: 20px;
}

.buttons{
    display: flex;
    flex-direction: row;
    position: relative;
}

.btn,.btn1{
    padding:10px 50px;
    font-size: 0.9rem;
    font-weight: 700;
    border-radius: 10px;
    border:2px solid gray;
    outline: none;
    margin: 7px;
    cursor: pointer;
    text-decoration: none;
}

.pressbtn {
    background:gray;
    color:white;
    transform: scale(0.8);
    transition: transform 0.2s linear;
}

.btn1{
    padding:3px 30px; 
}

.userdetails,.loginDetails{
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 2px;
    width:70%;
    height:40px;
    border:none;
    outline: none;
    text-align: center;
}

.loginDetails{
    margin:10px auto;
    border:2px solid gray;
    border-radius: 10px;
}

/* ---------------- Failure ------------------- */
.incorrect{
    color:gray;
    font-size: 3rem;
}
/* -------------------------------------------- */
.remember{
    position: relative;
    left: 10px;
    bottom:0px;
    font-size:0.9rem;
    color: gray;
}
/* --------- */


@media (min-width:320px) and (max-width:768px){

    /* loading */
    .loading{ 
        width: 35%;
        min-height: 20vh;
    }
    /* -------- */
    .arrow-icon{
        font-size: 1rem;
    }
    .container-1,.container-2{
        width:90vw;
        height:70vh;
    }

    .homepage{
        width:100vw;
    }
    .upper-container-mobile{
        width: 70vw;
        height: 70vh;
    }

     /* ------------ flavors --------------------- */
    .more-container{
        width: 70vw;
        height: 60vh;
}
    .more-similar-container{
        margin: 20px auto;
        width: 80vw;
        height: 35vh;
        position:  relative;
        right: 0;
        text-align: center;
    }

    .more-similar-container::before{
        content: "";
        width: 1000vw;
        height: 50px;
        background-color: gray;
        position: absolute;
        top:10px;
    }

    .similar_title{
        width: 100vw;
        font-size: 0.8rem;
        color: white;
        background-color: unset;
        z-index: 100;
        padding: 10px;
    }

    .similar_items{ 
    flex-direction: row;
    justify-content: space-between;
    }

    .similar_info{
    padding: 10px;
    margin-left: 50px;
    font-size: 0.8rem;
    }

    .coffeeImages{
        margin-bottom:5px ;
        margin-left: 20px;
        width:70px;
        height:70px;
    }
/* ----------------------------------------------------- */

    .container{
        font-size: 0.7rem;
    }
    .container-1{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .container-1::after,.container-2::after{
    bottom:-90%;
    border-radius: 100%;
    }
    
    .container-2::after{
        bottom:-150%;
    }
    .title{
        font-size: 1rem;
        position: absolute;
        top:20px;
        padding: 10px 50px;
    }

    .main-title{
        font-size: 0.8rem; 
    }
    
    .btn{
        padding:10px 30px;
        font-size: 0.6rem;
        font-weight: 700;
        border-radius: 10px;
    }

    /* ---------------- Failure ------------------- */
.incorrect{
    color:gray;
    font-size: 1.5rem;
}
/* -------------------------------------------- */

    .userdetails,.loginDetails{
        font-size: 0.6rem;
        font-weight: 500;
        letter-spacing: 2px;
        width:70%;
        height:40px;
        outline: none;
        text-align: center;
    }
    .circle{
        margin: 5px;
        width: 10px;
        height:10px;
    }
    
.remember{
    left: 10px;
    bottom:0px;
    font-size:0.7rem;
}
.footer-section{
    font-size: 0.8rem;
    position: absolute;
    bottom:50px;
    color:white;
    text-align: center;
    }

    .userPurchase{
        display: flex;
        flex-direction: column;
        }
        .upper-container-mobile::after{
            content: "";
            width: inherit;
            background-color: mediumspringgreen;
            }
            .receipe,.userLabel,.btn1{
                font-size: 0.6rem;
            }
            .hover{
                display: none;
            }
}

/* ---------------------Ipad view port ----------------------- */
@media (min-width:768px) and (max-width:1200px){

    .container-1,.container-2{
        width:80vw;
        height:70vh;
    }

    .container-1::after,.container-2::after{
    bottom:-70%;
    border-radius: 100%;
    }
    
    .title{
        font-size: 1rem;
        position: absolute;
        top:20px;
        padding: 10px 50px;
    }
    
    .btn{
        padding:10px 40px;
        font-size: 0.6rem;
        font-weight: 700;
        border-radius: 10px;
    }

    .userdetails{
        font-size: 0.5rem;
        width:70%;
        height:30px;
    }
    .cafeIntoduction{
        font-size: 0.9rem;
    }
    .more-container,.upper-container{
        width: 40vw;
        height: 70vh;
    }
    
}

/* -------------------------Failure ejs template styling--------------- */
.container{
    flex-direction: column;  
    justify-content: center;
    color:gray;
    width:100vw;
    height:100vh;
}


/* -------------------------Forgot ejs template styling---------------- */
.container-2{
    flex-direction: column; 
    justify-content: center;
}

.userdetails{
    font-size: 0.6rem;
    margin:3% auto;
    padding:10px 60px;
    border-radius: 10px;
    text-align: center;
    letter-spacing: 3px;
    border:2px solid gray;
}

/* ----------------------- - Neon lights with animations - ------------------------------ */
.neon-light,.neon-light2{
    color:gray;
    margin:5% auto;
    width:200px;
    height:50px;
    background-color: white;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px gray;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1rem;
}
.neon-light
{
    position: relative;
}
.neon-light2{
    bottom:0px;
    z-index: 1;
    overflow: hidden;
}
.neon-light:hover,.neon-light2:hover{
    box-shadow: 0px 0px 10px white,
                0px 0px 20px white;
}
.neon-light:hover span:nth-child(1),
.neon-light:hover span:nth-child(2),
.neon-light:hover span:nth-child(3),
.neon-light:hover span:nth-child(4){
    display: block;
    position:absolute;
    background-color:gray;
}

.neon-light:hover span:nth-child(1),
.neon-light:hover span:nth-child(2){
    top:0px;
    left:0px;
}

.neon-light:hover span:nth-child(2),
.neon-light:hover span:nth-child(4){
    width:inherit;
    height:3px;
}

.neon-light:hover span:nth-child(1),
.neon-light:hover span:nth-child(3){
    width:3px;
    height:inherit;
}

.neon-light:hover span:nth-child(2){
    animation:upper 2s 1 forwards;
}

.neon-light:hover span:nth-child(1){
    animation:lefts 2s 1 forwards;
}

.neon-light:hover span:nth-child(3){
    top:0px;
    left:200px;
    animation:rights 2s 1 forwards;
}

.neon-light:hover span:nth-child(4){
    top:50px;
    left:0px;
    animation:lower 2s 1 forwards;
}

@keyframes upper{
    0%{
        transform:translateX(600px);
        background-color: white; 
    }
    50%{
        transform:translateX(0px); 
    }
    100%{
        transform:translateX(0px); 
    }
}
@keyframes lefts{
    0%{
        transform:translateY(-200px);
        background-color: white;
    }
    50%{
        transform:translateX(0px); 
    }
    100%{
        transform:translateY(0px); 
    }
}
@keyframes rights{
    0%{
        transform:translateY(150px);
        background-color: white; 
    }
    50%{
        transform:translateX(0px); 
    }
    100%{
        transform:translateY(0px); 
    }
}
@keyframes lower{
    0%{
        transform:translateX(-400px);
        background-color: white;
    }
    50%{
        transform:translateX(0px); 
    }
    100%{
        transform:translateX(0px);
    }
}

/* ---------------Neon-light effect--------------- */

.lines-top,.lines-right,.lines-bottom,.lines-left{
position:absolute;
display: block;
z-index:2;
width:200px;
height:3px;
background-color:gray;
display:none;
}

.lines-left,.lines-right{
    width:3px;
    height:50px;
}
.lines-top{
top:0px;
}
.neon-light2:hover .lines-top {
    display:block;
    animation: top-line 0.5s 1 linear 0s forwards;
}
.lines-left{
    top:0px;
    right:0px;
}
.neon-light2:hover .lines-left{
    display:block;
    animation: left-line 0.5s 1 linear 0.5s forwards; 
}
.lines-bottom{
    top:47px;
}
.neon-light2:hover .lines-bottom{
    display:block;
    animation: bottom-line 0.5s 1 linear 0.75s forwards;
}
.lines-right{
    top:0px;
    left:0;
}
.neon-light2:hover .lines-right{
    display:block;
    animation: right-line 0.5s 1 linear 1.3s forwards;
}

@keyframes top-line{
    0%{
    }
        100%{
            transform:translateX(200px);
        }
}
@keyframes right-line{
    0%{
    }
        100%{
            transform:translateY(-200px);
        }
}
@keyframes bottom-line{
    0%{
    }
        100%{
            transform:translateX(-200px);
        }
}
@keyframes left-line{
    0%{
    }
        100%{
            transform:translateY(200px);
        }
}

/* ---------------More ejs template---------------- */
.cafeIntoduction{
    font-size: 0.75rem;
    font-family: 'Poppins',sans-serif;
}

strong{
    color:green;
}