*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins',sans-serif;
}

.title,.btn{
    color:gray;
    background:linear-gradient(rgba(255 , 255 ,255, 0.7) , rgba(255 ,255 ,255 , 0.3));
    border:2px solid gray;
}

.homepage{
    width:100vw;
    min-height:100vh; 
    /* background:linear-gradient(to right bottom , rgb(0, 67, 250) ,white); */
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.arrow-icon{
    transition: transform 1s linear;
}

.mug.arrow-icon:hover{
transform:rotate(20deg);
cursor: pointer;
}

.container-1,.container-2,.container{
    display:flex;
    align-items: center;
    position: relative;
    font-family: 'Poppins',sans-serif;
}
.container-1,.container-2{
    flex-direction: row;
    justify-content: space-evenly;
    width:30vw;
    height:80vh;
    background-color: white;
    box-shadow:5px 5px 10px gray;
    /* clip-path: inset(10px 20px 30px 40px); */
    /* clip-path: circle(50% at 35px 35px); */
    /* clip-path: circle(30% at 500px 300px); */
    z-index: 1;
    overflow: hidden;
}

.container-1::after,.container-2::after{
    content: "";
    width:450px;
    height:450px;
    position:absolute;
    z-index: -1;
    bottom:-70%;
    border-radius: 20%;
    /* clip-path: circle(70% at 150px 670px); */
    background-color: gray;
    animation: moveworld 2s 1 linear;
}
.footer-section{
    font-size: 0.8rem;
    position: absolute;
    bottom:50px;
    color:white;
    text-align: center;
    }

@keyframes moveworld{
    0%{
        transform: translateY(150px);
    }
    100%{
        transform: translateY(0px);
    }
}

.title{
    font-size: 1.5rem;
    position: absolute;
    top:10px;
    padding: 10px 70px;
}

.btn{
    padding:10px 50px;
    font-size: 0.9rem;
    font-weight: 700;
    border-radius: 10px;
}

.btn:hover{
    cursor: pointer;
    background:gray;
    color:white;
    transform: translateY(-10px);
    transition:transform 0.5s linear;
}

.userdetails{
    font-size: 0.7rem;
    width:70%;
    height:40px;
}


@media (min-width:320px) and (max-width:768px){
    .arrow-icon{
        font-size: 1rem;
    }
    .container-1,.container-2{
        width:90vw;
        height:70vh;
    }

    .container{
     font-size: 0.7rem;
    }
    
    .container-1::after,.container-2::after{
    bottom:-59%;
    border-radius: 100%;
    }
    
    .title{
        font-size: 1rem;
        position: absolute;
        top:20px;
        padding: 10px 50px;
    }
    
    .btn{
        padding:10px 40px;
        font-size: 0.6rem;
        font-weight: 700;
        border-radius: 10px;
    }

    .userdetails{
        font-size: 0.5rem;
        width:70%;
        height:30px;
    }
}

/* -------------------------Failure ejs template styling--------------- */
.container{
    flex-direction: column;  
    justify-content: center;
    color:gray;
    width:100vw;
    height:100vh;
}


/* -------------------------Forgot ejs template styling---------------- */
.container-2{
    flex-direction: column; 
    justify-content: center;
}

.userdetails{
    font-size: 0.6rem;
    margin:3% auto;
    padding:10px 60px;
    border-radius: 10px;
    text-align: center;
    letter-spacing: 3px;
    border:2px solid gray;
}